<%-include('partials/header')%>
<p class="account-subtitle">secrets</p>
<h1 class="subtitle">don't keep your secrets.share them </h1>
<br>
 <a href="/register" class="btn btn-primary btn-block"role="button" >Register</a>
 
 <a href="/login"class="btn btn-primary btn-block" role="button" >login</a>
<%-include('partials/footer')%>